@charset "utf-8";

.color-020f12{	
	stroke:#020f12;
	fill:#020f12;	
}

.color-fafeff{	
	stroke:#fafeff;
	fill:#fafeff;	
}

.logo > path{
	fill:none;
	stroke:inherit;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:40px;
}
.logo > polyline{	
	fill:none;
	stroke:inherit;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:40px;
}
.logo > circle{
	fill:inherit;
	stroke:none;
}