  
 #introduction{
	position: fixed;
    background: #102;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
 }

  #sky{
    height: 100%;
    width: 100%;
  }

  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: #eef;
  }

  #star-path{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    width: 2px;
    background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  }
    
#sky-txt > span{
	top: 0;
	right: 0;
	float: right;
	margin: 18px 12px;
	padding: 6px 12px;
	font-size: 24px;
	caret-color: transparent;
	transition: color 0.5s;
}

#sky-txt > span:hover{
	cursor: pointer;
}

#sky-txt{
	position: absolute;
	top: 0;
	wdith: 100%;
	margin-top: 96px;
	margin-left: 42px;
}

.color-white{
	color: white;
}
.color-deeppink{
	color:deeppink;
}